<div class="container">
    <div class="d-flex justify-content-between mb-3" style="margin-top: 15px;">
        <button class="btn btn-primary" (click)="openModal('create')">Create Project</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Value</th>
                <th scope="col">Zone</th>
                <th scope="col">Type</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Card Id</th>
                <th scope="col">Goal Id</th>
                <th scope="col">State Id</th>
                <th scope="col">User Id</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of projects">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.value }}</td>
                <td>{{ item.zone }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.startDate | date }}</td>
                <td>{{ item.endingDate | date }}</td>
                <td>{{ item.cardId }}</td>
                <td>{{ item.goalId }}</td>
                <td>{{ item.stateId }}</td>
                <td>{{ item.userId }}</td>
                <td>
                    <button class="btn btn-secondary" (click)="openModal('edit', item)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="/dashboard">Back to Dashboard</a>
    </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" [ngClass]="{'show': isModalOpen}"
        [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ modalTitle }}</h5>
                    <button type="button" class="btn-close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input [(ngModel)]="currentProject.name" name="name" type="text" class="form-control"
                                id="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input [(ngModel)]="currentProject.description" name="description" type="text"
                                class="form-control" id="description" required>
                        </div>
                        <div class="mb-3">
                            <label for="value" class="form-label">Value</label>
                            <input [(ngModel)]="currentProject.value" name="value" type="text" class="form-control"
                                id="value" required>
                        </div>
                        <div class="mb-3">
                            <label for="zone" class="form-label">Zone</label>
                            <input [(ngModel)]="currentProject.zone" name="zone" type="text" class="form-control"
                                id="zone" required>
                        </div>
                        <div class="mb-3">
                            <label for="type" class="form-label">Type</label>
                            <input [(ngModel)]="currentProject.type" name="type" type="text" class="form-control"
                                id="type" required>
                        </div>
                        <div class="mb-3">
                            <label for="startDate" class="form-label">Start Date</label>
                            <input [(ngModel)]="currentProject.startDate" name="startDate" type="date"
                                class="form-control" id="startDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="endingDate" class="form-label">End Date</label>
                            <input [(ngModel)]="currentProject.endingDate" name="endingDate" type="date" class="form-control"
                                id="endingDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="cardId" class="form-label">Card Id</label>
                            <input [(ngModel)]="currentProject.cardId" name="cardId" type="number" class="form-control"
                                id="cardId" required>
                        </div>
                        <div class="mb-3">
                            <label for="goalId" class="form-label">Goal Id</label>
                            <input [(ngModel)]="currentProject.goalId" name="goalId" type="number" class="form-control"
                                id="goalId" required>
                        </div>
                        <div class="mb-3">
                            <label for="stateId" class="form-label">State Id</label>
                            <input [(ngModel)]="currentProject.stateId" name="stateId" type="number"
                                class="form-control" id="stateId" required>
                        </div>
                        <div class="mb-3">
                            <label for="userId" class="form-label">User Id</label>
                            <input [(ngModel)]="currentProject.userId" name="userId" type="number" class="form-control"
                                id="userId" required>
                        </div>
                        <button type="submit" class="btn btn-primary">{{ modalAction }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>