.button-container,
.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.button-container button,
.link-container a {
  width: 100%;
  text-align: center;
}
